*.backup
*.crt
*.csv
*.egg-info
*.key
*.log
*.srl
*.tfstate
*.txt
*.zip
.DS_Store
.claude
.clinerules
.coverage
.env
.idea
.mypy_cache
.pytest_cache
CLAUDE.md
__pycache__
build/
coverage.json
deployment/
dist/
docs/REFACTOR_PLAN.md
input/*
localstack/volume
output/*
package/
settingslocal.py
tfstate.json
venv